
//VARIABLES DE COLORES
    
    $color-primario : #32a9bd;
    $color-secundario: #f18aa5; 
    $color-terciario: #aceccc;
    $color-base: #ffffff;
    $color-texto: #1e281d;
    $color-amarillo: #f7df85;
    $color-btn-disabled: #95e6bb;
    $color-detalles: #f1c40f;
    $color-carrito: #71b5dc;
    $color-error: #db3e3e;
    $color-border: #e8e8e8;
    


